
@font-face {
font-family: 'Optima';
font-style: normal;
font-weight: normal;
src: local('Optima'), url('fonts/optima/OPTIMA.woff') format('woff');
}


@font-face {
font-family: 'Optima Italic';
font-style: normal;
font-weight: normal;
src: local('Optima Italic'), url('fonts/optima/Optima_Italic.woff') format('woff');
}


@font-face {
font-family: 'Optima Medium';
font-style: normal;
font-weight: normal;
src: local('Optima Medium'), url('fonts/optima/Optima\ Medium.woff') format('woff');
}


@font-face {
font-family: 'Optima Bold';
font-style: normal;
font-weight: normal;
src: local('Optima Bold'), url('fonts/optima/OPTIMA_B.woff') format('woff');
}

@media (orientation: landscape) {
    .project1HeroImage, .project2HeroImage, .project3HeroImage, .project4HeroImage, .heroImageA, .heroImageB, .heroImageC, .heroImageD {
        min-height: 100vh;
        max-width: calc(100%);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        filter: saturate(130%);
    }

    .galleryItemText {
        opacity: 0;
        transition: 300ms;
    }

    nav ul {
        li {
            &::after {
                content: '';
                position: absolute;
                width: 100%;
                transform: scaleX(0);
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: white;
                transform-origin: bottom right;
                transition: transform 0.25s ease-out;
            }
            &:hover::after {
                transform: scaleX(1);
                transform-origin: bottom left;
            }
        }
    }
}

@media (orientation: portrait) {
    .project1HeroImage, .project2HeroImage, .project3HeroImage, .project4HeroImage, .heroImageA, .heroImageB, .heroImageC, .heroImageD {
        min-height: 100vh;
        max-width: calc(100%);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        filter: saturate(130%);
    }

    .heroTextMiddle {
        top: 30vh;
    }
}

@media(prefers-reduced-motion) {
    .scrollFadeIn {
        transition: none;
    }
}

:root {
    --accentGray: rgb(25, 25, 25);
    --backgroundGray: rgb(15, 12, 12);
}

html {
    scrollbar-gutter: stable;
    font-size: 62.5%;
}

@media (max-width: 300px) {
    /* html { font-size: 500%; } */
}

@media (min-width: 500px) {
    html { font-size: 200%; }
}

@media (min-width: 700px) {
    /* html { font-size: 200%; } */
    /* .heroImageB {max-width: calc(100%);} */
    /* .mobileHero {max-width: calc(100%);} */
}

@media (min-width: 1200px) {
    /* html { font-size: 200%; } */
    .expandingImageWrapper {
        max-width: 25%;
        min-width: 300px;
    }
}

body {
    font-family: 'Optima';
    font-size: 1em;
    background-color: var(--backgroundGray);
    color: white;
    margin: 0;
    animation: pageLoadFade 400ms;
}

@keyframes pageLoadFade {
    from { opacity: 0; }
    to { opacity: 1; }
}

section {
    height: 100vh;
    min-height: 100vh;
    max-width: 100%
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-items: center; */
    /* scroll-snap-align: start; */
    /* scroll-margin-top: 190px; */
    /* margin-top: 50px; */
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    display: block;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    /* background-color: black; */
    z-index: 100;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    /* backdrop-filter: blur(1px); */
}

nav ul {
    list-style-type: none;
    margin: 0;
    li {
        padding: 2vw 2vw 0 2vw;
        display: inline-block;
        position: relative;
        /* &::after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: white;
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
        }
        &:hover::after {
            transform: scaleX(1);
            transform-origin: bottom left;
        } */
    }
}

.centered {
    margin: auto;
}

.spacer {
    min-height: 15vh;
}

.bigText {
    min-width: 40%;
    font-size: max(24px, 2.2dvw);
    font-weight: bold;
}

.mainText {
    min-width: 40%;
    /* min-width: 300px; */
    /* font-size: max(14px, 1.2dvw); */
}

.nav-hidden {
    transform: translateY(-120px);
}

.titleImage {
    max-width: 280px;
    box-shadow: 0 0 8px 8px rgba(0,0,0,0) inset;
    /* transition: 100ms; */
}

.titleTabButton {
    float: left;
    /* height: 50%; */
    border: none;
    color: white;

    transition: 0.5s;
}

.heroImageA {
    background-image: url('assets/buildings/Atieh Residence/4 Lori Ln.jpg');
}
.heroImageB {
    background-image: url('assets/buildings/River Line/gallery.jpg');
}
.heroImageC {
    background-image: url('assets/disruptiveDesign.jpg');
    filter: brightness(80%);
}
.heroImageD {
    background-image: url('assets/buildings/Miceli Stable/gallery.jpg');
}

/* Project 1 */
/* 54 Shore dr  */
.project1HeroImage {
    background-image: url('assets/buildings/54 Shore Drive/gallery.jpg');
}
.project1HeroImage.a {
    background-image: url('assets/buildings/54 Shore Drive/1.jpg');
}
.project1HeroImage.b {
    background-image: url('assets/buildings/54 Shore Drive/aEnscape_2023-06-26-21-02-51 copy.jpg');
}
.project1HeroImage.c {
    background-image: url('assets/buildings/54 Shore Drive/54 construction.jpg');
}
.project1HeroImage.d {
    background-image: url('assets/buildings/54 Shore Drive/54 construction 2.jpg');
}

/* Project 2 */
.project2HeroImage {
    background-image: url('assets/buildings/366 St. Andre/gallery.jpg');
}

.project2HeroImage.a {
    background-image: url('assets/buildings/366 St. Andre/4d.jpg');
}
.project2HeroImage.b {
    background-image: url('assets/buildings/366 St. Andre/5d.jpg');
}
.project2HeroImage.c {
    background-image: url('assets/buildings/366 St. Andre/2d.jpg');
}
.project2HeroImage.d {
    background-image: url('assets/buildings/366 St. Andre/3d.jpg');
}

/* Project 3 */
.project3HeroImage {
    background-image: url('assets/buildings/River Line/gallery.jpg');
}
.project3HeroImage.a {
    background-image: url('assets/buildings/River Line/building F view_10.jpg');
}
.project3HeroImage.b {
    background-image: url('assets/buildings/River Line/building F view_9.jpg');
}
.project3HeroImage.c {
    background-image: url('assets/buildings/River Line/building F view_8.1.jpg');
}
.project3HeroImage.d {
    background-image: url('assets/buildings/River Line/building F view_3.jpg');
}

/* Project 4 */
/* Miceli Farms */
.project4HeroImage {
    background-image: url('assets/buildings/Miceli Stable/gallery.jpg');
}
.project4HeroImage.a {
    background-image: url('assets/buildings/Miceli Stable/Miceli stable-render-2.jpg');
}
.project4HeroImage.b {
    background-image: url('assets/buildings/Miceli Stable/scene5.jpg');
}
.project4HeroImage.c {
    background-image: url('assets/buildings/Miceli Stable/scene6.jpg');
}
.project4HeroImage.d {
    background-image: url('assets/buildings/Miceli Stable/miceli construction.jpg');
}

.heroText {
    font-size: max(32px, 3.8dvw);
    font-weight: bold;
    position: absolute;
    top: 12vh;
    left: 30dvw;
    transform: translate(-50%, -50%);
    animation: fadeIn 2s;
    opacity: 1;
}
.heroText.lower {
    top: 35vh;
    left: 35dvw;
}

.heroText1 {
    font-size: max(32px, 3.5dvw);
    /* font-weight: bold; */
    position: absolute;
    top: 20vh;
    left: 30dvw;
    transform: translate(-50%, -50%);
    animation: fadeIn 1s;
    opacity: 1;
    color: black;
    /* color: transparent;
    background-color: white;
    background-clip: text; */
}

.heroText2 {
    font-size: max(32px, 3.5dvw);
    /* font-weight: bold; */
    position: absolute;
    top: 40vh;
    left: 30dvw;
    transform: translate(-50%, -50%);
    animation: fadeIn 1s;
    opacity: 1;
    color: black;
}

.heroText3 {
    font-size: max(32px, 3.5dvw);
    /* font-weight: bold; */
    position: absolute;
    top: 60vh;
    left: 30dvw;
    transform: translate(-50%, -50%);
    animation: fadeIn 1s;
    opacity: 1;
    color: black;
}

.heroTextMiddle {
    font-size: max(32px, 3.5dvw);
    font-weight: bold;
    position: absolute;
    top: 28vh;
    left: 42dvw;
    transform: translate(-50%, -50%);
    animation: fadeIn 2s;
    opacity: 1;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.scrollFadeIn {
    transition: all 1s;
    opacity: 0;
}

.visible {
    opacity: 1;
}


.textOnly {
    margin-top: auto;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    * {
        flex-basis: 20%;
    }
}

.projectText {
    max-height: 50%;
    margin-top: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .bigText {
        max-width: 50%;
        flex-grow: 3;
    }
    * {
        flex-basis: 20%;
    }
}

.textOnly.alt {
    justify-content: space-evenly;
}

.expandingImage {
    object-fit: cover;

    transition: 1000ms;
}

.expandingImageWrapper {
    display: inline-block;
    overflow: hidden;
    position: relative;
    max-width: 100%;
    min-width: 600px;
    max-height: 100vh;
    &:hover {
        .expandingImage {
            filter: blur(2px) brightness(70%);
            z-index: 1;
        }
        .galleryItemText {
            opacity: 1;
        }
    }
}

.imageGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
}

.galleryImage {
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
}

.galleryItemText {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    /* font-size: 250%; */
    /* font-weight: bold; */
    width: max-content;
}

.footer {
    font-size: min(80%, 20px);
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* 
                                                                                                   
             -###########.                                                                         
           #--+++++++--+++++--+#+          #                                                       
               -#####################.     #        .#+++++++--##                                  
                                     -###  #    #++++###+-+++-++++++.                              
                                          ## ###            ##-+--+---                             
                                           #     .                                                 
                                           #.     +   +                                            
                                           #.     -. +   + +  +      .                             
                                   . -     +-      -+   +  +  +  -  ..+   +  -   -                 
                                 . ..      -+      +   +..--  +  +  + .. .- -   + .   +            
                              --  ..       .#      +   -   -  +  + ---+- -+--  +  -   +            
                               ....-        #      +  +    +  -  - +   - +  +  +  -   -            
                            #####..-        #      +  +    + .. ....   - +  - -.  -  .-            
    .                   -#++-+++++++.       #              + .. . +    - + -  +   -  -.            
      -  -.           ++++-.-++++++++#      #                          - - + .-   -                
        .#+++++++++#.#++.-+-+---++-++++     # ##                                  -  -             
       #+++-.....--++..+-.-++--++++++++#    ##                                                     
       ..---.-+++-+++.+++-#####-++++++++    #                                                      
        -#++-+--+-..++.-++####+-++++++++    #                                                      
     #+++++-+-.-+-++-+.--++++--+++-+++++    #                                                      
     #++++-.+###+++--- ..-+++-+---++--#     #                                                      
     #+++.+--++-..++-+#--##--++--#..        #                                                      
      #++++++.+++########--++-++-++-++.     #                                                      
       +++++++--+---#.-+-.+++---++-+#       #.                                                     
        #+++# +++-+.+++-+.+-++-.+++#-       ++                                                     
            .++++++++---+.--#-+++#...-      -+                                                     
            -#++++-+++++.+.++..#.. ..     -  .                                                     
                .+##+++++++-#..        - .. .                                                      
                -..-.........         ...  .-                                                      
                .............       .    ..-                                                       
                 .      ..      ..  .....-.                                                        
                           ..............                                                          
               -................        .                                                          
            ......                  .  ..-                                                         
          +...    .              . ......-                                                         
           .       -  .       .. ........-                                                         
                   --..        .........-.-                                                        
                    --...   . .........-.--                                                        
                     --...    .............                                                        
                     -...     .............-                                                       
                      -....    ..------..--.+                                                      
                       ........-         +...                                                      
                        ....--              -                                                      
                        -...-                                                                      
                        +-.-.                                                                      
                         ..-                                                                       
                         -+                                                                        
                                                                                                   
                             You Found Me!                                           
*/